{% comment %} HUMANPEA Footer {% endcomment %}
<footer class="hp-footer" role="contentinfo">
  <div class="hp-footer__inner">
    <span>©2025 HUMANPEA FUNCTIONAL SYSTEMS</span>
    <span class="hp-korean">ㅎㅍ</span>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
